{% import 'macros/page_macros.html' as page %}
{% extends 'layouts/base.html' %}

{% block content %}
    <div class="ui text container">
        <h1>About</h1>
        <div class="ui comments">
            <div class="comment">
                <div class="content">

                    <div class="ui orange segment">
					  <h4 class="ui header">This Site is ...</h4>
					  <p>This site is the game portal template site for game publisher.
					  <br/>base on 3-tier : front, backend(restful), and database<
					  <br/>This site has been made with below referce</p>
					</div>
					
					<div class="ui bulleted list">
					  <div class="item">
					    <div>Front</div>
					    <div class="ui fitted divider"></div>
					    <div class="list">
					      <a class="item" target="_blank" href="http://flask.pocoo.org/">flask</a>
					      <a class="item" target="_blank" href="https://github.com/hack4impact/flask-base">flask_base</a>
					    </div>
					  </div>
					</div>

					<div class="ui bulleted list">
					  <div class="item">
					    <div>Backend</div>
					    <div class="ui fitted divider"></div>
					    <div class="list">
					      <a class="item" target="_blank" href="http://flask.pocoo.org/">flask</a>
					      <a class="item" target="_blank" href="https://github.com/h4wldev/Frest">Frest</a>
					      <a class="item" target="_blank" href="https://pythonhosted.org/Flask-JWT/">flask_jwt</a>
					    </div>
					  </div>
					</div>

					<div class="ui bulleted list">
					  <div class="item">
					    <div>Database</div>
					    <div class="ui fitted divider"></div>
					    <div class="list">
					      <a class="item" target="_blank" href="https://www.postgresql.org/">postgresql</a>
					    </div>
					  </div>
					</div>


					<div class="ui bulleted list">
					  <div class="item">
					    <div>Mailing</div>
					    <div class="ui fitted divider"></div>
					    <div class="list">
					      <a class="item" target="_blank" href="http://python-rq.org/">redis_rq</a>
					      <a class="item" target="_blank" href="https://sendgrid.com/">sendgrid</a>
					    </div>
					  </div>
					</div>

					<div class="ui bulleted list">
					  <div class="item">
					    <div>PasS</div>
					    <div class="ui fitted divider"></div>
					    <div class="list">
					      <a class="item" target="_blank" href="http://www.heroku.com">heroku</a>
					    </div>
					  </div>
					</div>

                </div>
            </div>
    	</div>
    </div>

    
{% endblock %}
