{% extends 'layouts/base.html' %}

{% block content %}
    <div class="ui text container">
      <h1>Hello {% if not (current_user.is_authenticated) %} world {% else %} {{ current_user.username }} {% endif %},</h1>

        <div class="ui comments">
            <div class="comment">

                <div class="ui black segment">
                  <h4 class="ui header">Web</h4>
                  <div class="ui bulleted list">

                    <div class="item">
                      <div>Register</div>
                      <div class="ui fitted divider"></div>
                      <div class="list">
                        <div class="item">add user <a class="ui small label">done<i class="delete icon"></i></a> </div>
                        <div class="item">confirm adding user mail <a class="ui small label">done<i class="delete icon"></i></a> </div>
                      </div>
                    </div>

                    <div class="item">
                      <div>Login</div>
                      <div class="ui fitted divider"></div>
                      <div class="list">
                        <div class="item">login <a class="ui small label">done<i class="delete icon"></i></a> </div>
                        <div class="item">forgot password <a class="ui small label">done<i class="delete icon"></i></a></div>
                        <div class="item">confirm forgot password mail<a class="ui small label">done<i class="delete icon"></i></a></div>
                        <div class="item">logout<a class="ui small label">done<i class="delete icon"></i></a></div>
                      </div>
                    </div>

                    <div class="item">
                      <div>manage info</div>
                      <div class="ui fitted divider"></div>
                      <div class="list">
                        <div class="item">account infomation <a class="ui small label">done<i class="delete icon"></i></a> </div>
                        <div class="item">change email <a class="ui small label">done<i class="delete icon"></i></a> </div>
                        <div class="item">confirm chaing email <a class="ui small red label">developeing</a></div>
                        <div class="item">change password<a class="ui small label">done<i class="delete icon"></i></a></div>
                        <div class="item">confirm change password mail<a class="ui small label">done<i class="delete icon"></i></a></div>
                        <div class="item">logout<a class="ui small label">done<i class="delete icon"></i></a></div>
                      </div>
                    </div>
                    
                     <div class="item">
                      <div>etc</div>
                      <div class="ui fitted divider"></div>
                      <div class="list">
                        <div class="item">check email domain <a class="ui small blue label">todo<i class="delete icon"></i></a> </div>
                      </div>
                    </div>

                  </div>
                </div>

            </div>
        </div>

    </div>
{% endblock %}
